.link {
  text-decoration: none;
  color: #000;
  margin: 10px;
}

.mobile {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 20px 0;
  color: #000;
}

.card{
  text-decoration: none;
  color: #000;
}